name: Build

on:
    push:
        branches:
            - master
        tags:
            - v*
    pull_request:
        branches:
            - master
concurrency:
    group: ${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Build Binary
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
            - name: Install Deps
              run: sudo apt install -y libxkbcommon-dev
            - name: Run fmt check
              run: cargo fmt --all -- --check
            - name: Run clippy check
              run: cargo clippy
            - name: Run tests
              run: cargo test --verbose

    release:
        permissions:
            contents: write
        if: startsWith(github.ref, 'refs/tags/v')
        needs:
            - build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
            - name: Install Deps
              run: sudo apt install -y libxkbcommon-dev libwayland-dev
            - uses: softprops/action-gh-release@v2
              with:
                draft: false
