name: CI & Release

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

concurrency:
    group: ${{ github.ref }}
    cancel-in-progress: true

env:
  LANG: en_US.UTF-8
  LC_ALL: en_US.UTF-8

jobs:
  test_and_lint:
    name: Lint and Test (Arch)
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install System Dependencies
        run: |
          echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
          locale-gen
          pacman -Syu --noconfirm base-devel git sudo libxkbcommon wayland alsa-lib alsa-utils pipewire libpipewire clang

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Check Formatting
        run: cargo fmt --all -- --check

      - name: Run Lints (Clippy)
        run: cargo clippy --all-targets -- -D warnings

      - name: Build and Test
        run: cargo test --verbose

  release:
    name: Publish Release (Arch)
    needs: test_and_lint
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Install Arch Deps
        run: |
          echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
          locale-gen
          pacman -Syu --noconfirm base-devel git sudo libxkbcommon wayland alsa-lib alsa-utils pipewire libpipewire clang
      - name: Publish to crates.io
        run: |
          cargo publish -p iced_zbus_notification --token ${{ secrets.CRATES_TOKEN }}
          cargo publish -p lala-bar --token ${{ secrets.CRATES_TOKEN }}
      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          draft: false